@media only screen and (max-width: 600px) {
	body{
	text-align: center;
	margin: 0;
	font-family:sans-serif;
	background-image: url("../images/background.png");
	background-color: #33415c;
	color: #f7fff7;
	background-size: 130% 130%;
	background-repeat: no-repeat;
	font-size: 10px;	
	}

  * {
    box-sizing: border-box;
  }
  .homeimage{
	display:block;
	background-image: url("../images/superman.png");
	background-size:200vh 200vh;
	background-repeat: no-repeat;
	opacity: 0.6;

}
.homeimage-container{
	text-align: center;
	padding-top: 4em;
	color: black;
	opacity: 1;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;

}
.homeimage-container h1{
	opacity: 1;

}
.homeimage-container a{
	text-decoration: none;
	padding: 15px;
	color: white;
	background-image:linear-gradient(to right bottom,blue,green);
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;
	transition: 1s;
	font-size: 10px;
	opacity: 1;
}
.homeimage-container a:hover{
	background-image:linear-gradient(to right bottom,red,blue);
}

.total-body{
	margin:0;
	padding:0;
	animation-name:total-body;
	animation-duration: 1s; 
}
@keyframes total-body{
	from{transform:skew(-90deg,-90deg);}
	to{transform: skew(0deg.0deg);}
}
.middle-img img {
	border-radius: 50%;	
border: 10px solid #b1a7a6;
width: 250px;
height: 250px;
}
.middle-h1{
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
}
.middle-home p{
	padding: 10px;
	font-family: 'Poppins', sans-serif;
}


.middle-bottom{
		padding-top:20px;
		padding-bottom:20px;
}
.middle-bottom a{
	margin:0 20px;
	padding:5px 25px;
	color:white;
	text-decoration: none;
	border-radius: 20px;
	border:3px solid #dcffcc;
	
}
.middle-bottom a:hover{
	transition: 0.8s ease;
	background-color: #dcffcc;
	color:grey;
}
.insta a{
	padding:10px;
	text-decoration: none;
	font-size: 20px;
	color:lightgrey;	
}

.insta{
	padding:10px;
}
.top-underline{
	margin-top: 10px;
	border:1px solid #b1a7a6;
	display: block;
	width: 100%;
	border-radius: 2px;	
	background-color: #ef476f;
}
.underline{
	padding: 2px;
	background-color:blue;
	border-radius:2px;
	display: block;
	width: 20%;
}
.insta img{
	bottom:0;
	position: relative;
	bottom:-5px;

}

li a{
	display: block;
	padding:8px;
	padding-top:10px;
	text-decoration: none;
	color:white;
	font-size: 8px;
	font-family: 'Poppins', sans-serif;
	}
ul{	
	text-align: right;
	margin:0; 
	padding: 20px 20px 40px 10px;
	display: block;
	list-style-type: none;
}

li{	
	display: inline-block;
	margin-right: 5px;
	}
	li .active{
	color:#80ded9;
}
li a:hover:not(.active){
	color:lightgrey;
}
.topname{
	display: none;
}

.sec-top{
	width: 115%;
	padding:20px;
	padding-top: 20px;
	background-color:#926e6f;
	font-family: 'Poppins', sans-serif;
	text-align: left;
}
.sec-top h1{
	font-size: 30px;
	color:#f8f9fa;

}
.sec-top p{
	color:#f8f9fa;
}
.midd-table{
	padding-left: 15px;
	text-align: left;
	display: block;
	font-family: 'Ubuntu', sans-serif;
}
.midd-table th{
	border-spacing:10px;
	 font-size: 13px;
	font-family: 'Ubuntu', sans-serif;
	animation-name:midd-table-th;
	animation-duration:2s;

}

@keyframes midd-table-th{
	from{transform:translate(400px);}
	to{transform: translate(0px);}
}
.midd-table td{
	padding:10px;
	padding-top:10px;
	border-spacing: 50px;
	font-size: 10px;
}
 .sec-midd-h1 {
	margin:0;
	padding: 0;
	padding-bottom: 10px;
	width:45%;
	font-size: 20px;
	display: inline-block;
	animation-name:sec-midd-h1;
	animation-duration:2s;

}
th img{
	display: block;
	margin-top: 20px;
	position: relative;
	top: 55px;
	padding: 0;
}
th h2{
	position: relative;
	left:50px
}
.midd-sec-tab{
	width: 90%;
	font-family: 'Ubuntu', sans-serif;	

}
.midd-sec-tab td{
	padding: 10px 40px 10px 30px;
	width:50%;
	line-height:30px;
	font-size: 10px;
	text-align: left;

}		
.midd-sec-tab th h2{
	border-spacing: 10px 10px;
	text-align: left;
	width: 70%;
	font-size: 14px;
}
.midd-sec-tab th {
	float: left;
}
.c{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 90%;
}		
.top-skills{
	border:2px solid #b1a7a6;
	display: block;
	width: 100%;
	border-radius: 5px;
}
span{
	float: right;
}
.php{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 80%;
}
.sql{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 80%;
}
.html{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 85%;
}
.css{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 70%;
}
.python{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 50%;
}
.top-underline{
	margin-top: 10px;
	border:1px solid #b1a7a6;
	display: block;
	width: 100%;
	border-radius: 2px;	
	background-color: #ef476f;
}
.underline{
	padding: 2px;
	background-color:blue;
	border-radius:2px;
	display: block;
	width: 20%;
}
.hobbies-midd-container{
	width: 100%;
	
}
.hobby img{
	padding-top: 20px;
}
.hobby{
	width: 80%;
	height: 200px;
	padding:10px;
	font-size: 20px;
	background-color: lightgrey; 
	display: inline-block;
	color: grey;
	margin: 40px;
	border-radius: 10px;
	text-align: center;

}

.hobby-1{
	width: 30%;
	height: 50%;
	border-radius:47%;
	background-color:#219ebc;
	display: inline-block;
	animation-name: hobby;
	animation-duration:2s;

}
.hobby-2{
	width: 30%;
	height: 50%;
	border-radius:47%;
	background-color:#219ebc;
	display: inline-block;
	animation-name: hobby;
	animation-duration:2s;

}
.hobby-3{
	width: 30%;
	height: 50%;
	border-radius:47%;
	background-color:#219ebc;
	display: inline-block;
	animation-name: hobby;
	animation-duration:2s;

}

.hobby-4{
	width: 30%;
	height: 50%;
	border-radius:47%;
	background-color:#219ebc;
	display: inline-block;
	animation-name: hobby;
	animation-duration:2s;

}
.hobby-1,.hobby-2,.hobby-3,.hobby-4{
	margin-top: 30px;
	position:relative;
	top:-150px;
	left: -130px;

}

@keyframes hobby{
	from{transform: translateY(-200px);}
	to{transform: translateY(0px);}
}

/*thissssss*/






.contact-container{
	width: 100%;
	height: 700px;
	color: white;

}
.contact-form{
	margin-left: 70px;
	width: 70%;background-color: lightgrey;
	border-radius: 40px;
	color: grey;
	font-size: 15px;height: 350px;
	animation-name:contact-form;
	animation-duration: 2s;
}
@keyframes contact-form{
	from{transform: translate(200px);}
	to{transform: translate(0px);}
}
.contact-form p{
		margin:0;
}
.contact-form h3{
margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 40px;
	padding-top: 30px;
	font-size: 13px;
}
.contact-form-2{
	margin-top: 60px;
	margin-left: 70px;
	width: 70%;
	height: 300px;
	background-color: lightgrey;
	color: grey;
	font-size: 13px;
	border-radius: 40px;
	animation-name:contact-form-2;
	animation-duration: 2s;
}
.contact-form img{
	margin:-10px 0px 0px 20px;
	float: left;
}

.contact-form-2 img{
	margin:-10px 0px 0px 20px;
	float: left;
}
@keyframes contact-form-2{
	from{transform: translate(-200px);}
	to{transform: translate(0px);}
}
.contact-form-2 h4{
	display: block;
	padding-top: 40px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 13px;
	}



}
@media only screen and (min-width: 600px) {

body{
	margin: 0;
	font-family:sans-serif;
	background-color: #5e6472;
	color: lightgrey;
	background-image: url("../images/background.png");
	background-size: 250vh 300vh;
	background-repeat: no-repeat;	
	}
.total-body{
	margin:0;
	padding:0;
	animation-name:total-body;
	animation-duration: 1s; 
}
.homeimage{
	width: 100%;
	height: 100vh;
	display:block;
	background-image: url("../images/superman.png");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.6;

}
.homeimage-container{
	text-align: center;
	padding-top: 8em;
	color: black;
	opacity: 1;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;

}
.homeimage-container h1{
	opacity: 1;
}
.homeimage-container a{
	text-decoration: none;
	padding: 20px;
	color: white;
	background-image:linear-gradient(to right bottom,blue,green);
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;
	transition: 1s;
	font-size: 20px;
	opacity: 1;
}
.homeimage-container a:hover{
	background-image:linear-gradient(to right bottom,red,blue);
}
@keyframes total-body{
	from{transform:skew(-90deg,-90deg);}
	to{transform: skew(0deg.0deg);}
}

middle-h1{
	margin: 0;
	padding: 0;
	display: block;
	font-size: 40px;
}
 .top-name{
float: left;
font-size: 40px;!important
animation-name: example;
animation-duration: 4s;
animation-iteration-count: infinite;
}

ul{	
	margin:0; 
	padding: 20px 40px 40px 10px;
	display: block;
	list-style-type: none;
}
li{
	display: inline-block;
	margin-right: 10px;
	}
.top-index{
	width: 100%;	
	display: block;
	text-align: right;
	padding-right: 40px;
}

li a{
	display: block;
	padding:10px;
	text-decoration: none;
	color:white;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	}
li .topname{
	display: block;
	padding:10px;
	text-decoration: none;
	animation-name:example;
	border-radius: 30px;
	font-family: 'Merienda', cursive;
	animation-duration: 6s;
	animation-iteration-count: infinite;

}

@keyframes example {
  0%   {color:white;}
  20%  {color:#bcb8b1; }
  40%  {color:#ff005c;}
  60%  {color:#ff6b6b;}
  80% {color:#2ec4b6;}
  100% {color:#ef476f;}
}
li .active{
	color:#80ded9;
}
li a:hover:not(.active){
	color:lightgrey;
}
.middle-home{
	padding-bottom: 5em;
	position:absolute;
	width: 35%;
	left: 14em;
	top: 7em;
	font-size: 18px;
	animation-name: middle;
	animation-duration: 2s;
	animation-delay: 0.1s;
}
@keyframes middle{
	from{transform:translate(200px);}
	to{transform: translate(0px);}
}

.middle-img:hover{
	transition: 0.5s;
		transform:translate(5px,5px);
		cursor: pointer;

}
.middle-h1{
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
}
.middle-home p{
	font-family: 'Poppins', sans-serif;
}
.middle-img{
	border-radius: 50%;
	position: absolute;
	right: 9em;
	top:10em;
	animation-name: middle-img;
	animation-duration: 2s;
}

.middle-img img {
	border-radius: 50%;	
border: 15px solid #b1a7a6;
}
.middle-home p{
	line-height:23px;
}
.middle-bottom{
		padding-top:20px;
		padding-bottom:20px;
}
.middle-bottom a{
	margin:0 20px;
	padding:5px 25px;
	color:white;
	text-decoration: none;
	border-radius: 20px;
	border:3px solid #dcffcc;
	
}
.middle-bottom a:hover{
	transition: 0.8s ease;
	background-color: #dcffcc;
	color:grey;
}
.insta a{
	padding:10px;
	text-decoration: none;
	font-size: 30px;
	color:lightgrey;	
	position: absolute;
	top:30px;
	left:40px;
}
.insta img{
	bottom:0;
	position: relative;
	bottom:-5px;
}
.insta{
	padding:10px;
	position: relative;
	top: 31em;
	left: 230px;
	width:30%;
}
.sec-top{
	width: 100%;
	padding:30px;
	padding-top: 20px;
	background-color:#926e6f;
	position: absolute;
	top:9em;
	font-family: 'Poppins', sans-serif;
}
.sec-top h1{
	font-size: 50px;
	color:#f8f9fa;

}
.sec-top p{
	position: absolute;
	left: 40px;
	top:6.5em;
}
.midd-table{
	padding-left: 30px;
	position:absolute;
	top: 23em;
	left: 50px;
	width: 90%;
	display: block;
	font-family: 'Ubuntu', sans-serif;
}
.midd-table th{
	border-spacing:0;
	text-align: left; 
	font-family: 'Ubuntu', sans-serif;
	animation-name:midd-table-th;
	animation-duration:2s;

}

@keyframes midd-table-th{
	from{transform:translate(400px);}
	to{transform: translate(0px);}
}
.midd-table td{
	padding:50px;
	padding-top:10px;
	border-spacing: 50px;
	font-size: 20px;
}
 .sec-midd-h1 {
	margin:0;
	padding: 0;
	font-size: 10px;
	padding-bottom: 10px;
	width:45%;
	display: inline-block;
	animation-name:sec-midd-h1;
	animation-duration:2s;

}

@keyframes sec-midd-h1{
	from{transform:translate(400px);}
	to{transform: translate(0px);}
}	

th img{
	display: block;
	margin-top: 20px;
	position: relative;
	top: 55px;
	padding: 0;
}
th h2{
	position: relative;
	left:50px
}

.midd-sec-tab{
	position: relative;
	top:60em;
	left: 20px;
	width: 90%;
	font-family: 'Ubuntu', sans-serif;	

}
.midd-sec-tab td{
	padding: 10px 50px 10px 50px;
	width:50%;
	line-height:30px;
	font-size: 20px;
	text-align: left;

}
.midd-sec-tab th h2{
	border-spacing: 50px 10px;
	text-align: left;
	width: 35%;

}
.c{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 90%;
}
.top-skills{
	border:2px solid #b1a7a6;
	display: block;
	width: 100%;
	border-radius: 5px;
}
span{
	float: right;
}
.php{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 80%;
}
.sql{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 80%;
}
.html{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 85%;
}
.css{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 70%;
}
.python{
	padding: 3px;
	background-color:#ff005c;
	border-radius:5px;
	display: block;
	width: 50%;
}
.top-underline{
	margin-top: 10px;
	border:1px solid #b1a7a6;
	display: block;
	width: 100%;
	border-radius: 2px;	
	background-color: #ef476f;
}
.underline{
	padding: 2px;
	background-color:blue;
	border-radius:2px;
	display: block;
	width: 20%;
}
.hobbies-midd-container{
	position: relative;
	top: 15em;
	width: 105%;
	

}
.hobby{
	width: 40%;
	height: 200px;
	padding:10px;
	font-size: 20px;
	background-color: lightgrey; 
	display: inline-block;
	color: grey;
	margin: 40px;
	border-radius: 10px;
	text-align: center;

}
.hobby-1{
	width: 10%;
	height: 25%;
	border-radius:50%;
	top: 10px;
	position: absolute;
	left: 20px;
	background-color:#219ebc;
	display: inline-block;

		animation-name: hobby;
	animation-duration:2s;

}
.hobby-2{
	width: 10%;
	height: 25%;
	border-radius:50%;
	top: 10px;
	position: absolute;
	left:48%;
	background-color:#219ebc;
	display: inline-block;

		animation-name: hobby;
	animation-duration:2s;

}
.hobby-3{
	width: 10%;
	height: 25%;
	border-radius:50%;
	top: 300px;
	position: absolute;
	left:20px;
	background-color:#219ebc;
	display: inline-block;

		animation-name: hobby;
	animation-duration:2s;

}
.hobby-4{
	width: 10%;
	height: 25%;
	border-radius:50%;
	top: 300px;
	position: absolute;
	left:48%;
	background-color:#219ebc;
	display: inline-block;

		animation-name: hobby;
	animation-duration:2s;
}
.hobby img{
	margin-top: 30px;

}

@keyframes hobby{
	from{transform: translateY(-200px);}
	to{transform: translateY(0px);}
}

.contact-container{
	width: 100%;
	height: 700px;
	
	position: relative;
	top: 230px;
	color: white;
}
.contact-form{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 30%;background-color: lightgrey;
	border-radius: 40px;
	color: grey;
	font-size: 20px;height: 400px;
	animation-name:contact-form;
	animation-duration: 2s;
}
@keyframes contact-form{
	from{transform: translate(200px);}
	to{transform: translate(0px);}
}

.contact-form h3{
margin-left: 10px;
	
	margin-bottom: 10px;
	margin-top: 40px;
	
}
.contact-form-2{
	position: absolute;
	top: 100px;
	left: 700px;
	width: 30%;
	height: 400px;
	background-color: lightgrey;
	color: grey;
	font-size: 20px;
	border-radius: 40px;
	animation-name:contact-form-2;
	animation-duration: 2s;
}
@keyframes contact-form-2{
	from{transform: translate(-200px);}
	to{transform: translate(0px);}
}
.contact-form img{
	padding: 0px 30px 20px 20px;
	margin-bottom: 0px;
	float: left;
}

.contact-form-2 img{
	padding: 0px 20px 20px 70px;
	margin-bottom: 0px;
	float: left;
}

.contact-form-2 h4{
	display: block;
	padding-top: 30px;
	margin-bottom: 0;
	padding-bottom: 0;

	}

}



